{% if user.is_authenticated %}

Вы авторизованы под именем {{ user.username }}

<a href="{% url 'create_todo' %}">Создать</a>
<a href="{% url 'current_todos' %}">Текущие задачи</a>
<a href="{% url 'completed_todos' %}">Выполненные задачи</a>

<form action="{% url 'logout_user' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>

{% else %}

<a href="{% url 'sign_up_user' %}">Зарегистрироваться</a>
<a href="{% url 'login_user' %}">Войти</a>

{% endif %}

{% block content %}

{% endblock %}